.About-div{
    justify-content: center;
    text-align: center;
    text-size-adjust: ;
  }

 /* About.css */

.About-div {
    opacity: 0; /* Initially hide the component */
    margin: 20px;
    padding: 20px;
    
    animation: fadeIn 0.5s ease forwards; /* Apply fadeIn animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Start position */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End position */
    }
  }
  
  .About-div p {
    margin: 10px 0;
    opacity: 0; /* Initially hide each paragraph */
    animation: fadeInParagraph 0.5s ease forwards; /* Apply fadeInParagraph animation */
  }
  
  @keyframes fadeInParagraph {
    from {
      opacity: 0;
      transform: translateY(-10px); /* Start position */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End position */
    }
  }
  
  .About-div p:nth-child(1) {
    animation-delay: 0.5s; 
    margin: 20px;/* Delay animation for the first paragraph */
  }
  
  .About-div p:nth-child(2) {
    animation-delay: 2.5s; 
    margin: 20px;/* Delay animation for the second paragraph */
  }
  
  .About-div p:nth-child(3) {
    animation-delay: 5.5s; /* Delay animation for the third paragraph */
    margin: 20px;
  }
  .About-div p:nth-child(4) {
    animation-delay: 8.5s; /* Delay animation for the first paragraph */
    margin: 20px;
  }
  
  .About-div p:nth-child(5) {
    animation-delay: 11.5s; /* Delay animation for the second paragraph */
    margin: 20px;
  }
  
  .About-div p:nth-child(6) {
    animation-delay: 1.5s; /* Delay animation for the third paragraph */
  }
  /* Add animation delays for subsequent paragraphs as needed */
  