.Header {
    background-color: #ffffff; /* Background color of the header */
    padding: 10px 0; /* Padding around the header content */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; /* Ensure the header spans the full width of the viewport */
    /* Additional styles for the header, such as height, font size, etc. */
    
  }
  