/* Base styles for links */
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    list-style-type: none;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 10s ease forwards;
    
}
.active{
    background-color: #6a5d48;
}

.links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
}

.links a:hover {
    background-color: #5c4d2e;
}

/* Keyframe animation for fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .links {
        flex-direction: coloumn; /* Change direction to horizontal */
        justify-content: space-around; /* Align items evenly */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .links a {
        padding: 5px 10px; /* Adjust padding for smaller links */
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

