/* Base styles for links */
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
    
    list-style-type: none;
    padding-right: 20px;
    
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 10s ease forwards;
    padding-left: 20px;
    padding-top: 120px;
    height: 300px;
    text-shadow: 2px 2px 2px rgb(98, 189, 180);
    
}
.active{
    background-color: #6a5d48;
}

.links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
}

.links a:hover {
    background-color: #5c4d2e;
}

/* Keyframe animation for fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .links {
        display: flex;
        flex-direction: coloumn; /* Change direction to horizontal */
        justify-content: start;
        padding: 3px;
        height: fit-content;
        text-shadow: 3px -2px 2px rgb(98, 189, 180);
    }

    
}


