@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* App.css */
body,h1,p,div{
  margin: 0px;
}


/* Body styles */
.body {
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#4b4631;
  padding: 0px;
  color: #fff;
 zoom: 100%;
 margin: 0px !important ;

}
:root {
  margin: 0px !important ;
}
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }
  
  /* Container styles */
  .container {
    display: flex;
    flex: 1;
    
    
  }
  
  /* Navbar styles */
  .navbar {
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-left: 30px;
    
    
  }
  
  /* Routes styles */
  .routes {
    
    padding: 20px;
    margin-left: 4px;
  }
  
  
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Media queries for responsiveness */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    
    .navbar {
      width: 25%;
    }
    
    .routes {
      width: 100%;
    }
  }


 










.social-link {
  color: inherit; 
  text-decoration: none; /* Removes underline */
  margin-right: 15px;
}







/* Base styles for container */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Set container height to 100% of viewport height */
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
      padding: 10px; /* Add padding for smaller screens */
      flex-direction: column;
  }
}










